div {
    height:50px;
    width:120px;
    border-color:#6495ed;
    border-radius:5px;
    text-align:center;
    margin:auto;
    color:white;
    font-weight: bold;
}

img {
  display:block;
	height:300px;
	width:500px;
  margin:auto;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;
}

h1 {
  font-family:Cursive;
  font-weight: bold;
  text-align:center;
}


